APP_ENV=dev

# Rutas base de datos y almacenamiento
DB_PATH=/Users/TU_USUARIO/sistema_pericial/data/pericial.db
UPLOAD_DIR=/Users/TU_USUARIO/sistema_pericial/uploads
INFORMES_DIR=/Users/TU_USUARIO/sistema_pericial/informes
FOTOS_DIR=/Users/TU_USUARIO/sistema_pericial/fotos

# Telegram
TELEGRAM_BOT_TOKEN=8699636159:AAEz3jWqiCDnactyICJdLQVwEEd_rEjkWN8
TELEGRAM_CHAT_ID=477674266

# Servidor
HOST=0.0.0.0
PORT=8000

# Cloudflared
CLOUDFLARED_BIN=/opt/homebrew/bin/cloudflared
