<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mobile.css">
    <title>Estancias</title>
</head>

<body>

    <div class="page">

        <h1>Estancias</h1>

        <div class="actions">
            <a class="boton secundario" href="/detalle-expediente/{{ expediente_id }}">Volver</a>
        </div>

        {% for estancia in estancias %}

        <div class="card">

            <p><strong>{{ estancia.nombre }}</strong></p>

            <div class="actions">

                <a class="boton" href="/editar-estancia/{{ estancia.id }}">
                    Editar
                </a>

                <form method="post" action="/borrar-estancia/{{ estancia.id }}">
                    <button class="boton peligro">Borrar</button>
                </form>

            </div>

        </div>

        {% endfor %}

        <div class="card">

            <h2>Nueva estancia</h2>

            <form method="post">

                <label>Nombre estancia</label>
                <input name="nombre">

                <button type="submit">Añadir estancia</button>

            </form>

        </div>

    </div>

</body>

</html>