<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mobile.css">
    <title>Editar estancia</title>
</head>

<body>

    <div class="page">

        <h1>Editar estancia</h1>

        <div class="card">

            <form method="post">

                <label>Nombre estancia</label>
                <input name="nombre" value="{{ estancia.nombre }}">

                <button type="submit">Guardar</button>

            </form>

        </div>

        <div class="actions">
            <a class="boton secundario" href="/definir-estancias/{{ visita_id }}">Cancelar</a>
        </div>

    </div>

</body>

</html>