<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mobile.css">
    <title>Nueva visita</title>
</head>

<body>

    <div class="page">

        <h1>Nueva visita</h1>

        <div class="card">

            <form method="post">

                <label>Fecha visita</label>
                <input type="date" name="fecha">

                <label>Técnico</label>
                <input name="tecnico">

                <label>Observaciones visita</label>
                <textarea name="observaciones_visita"></textarea>

                <button type="submit">Crear visita</button>

            </form>

        </div>

        <div class="actions">
            <a class="boton secundario" href="/detalle-expediente/{{ expediente_id }}">Cancelar</a>
        </div>

    </div>

</body>

</html>